<!DOCTYPE html>

<html>
	<head>
		<title>مولّد النص العربي</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="../static/about.css"  type="text/css">
		<!-- <link rel="stylesheet" href="bootstrap-theme.css"  type="text/css"> -->
	</head>
	<body>
		<header class="header">
			<nav>
				<ul>
					<li><a id="rest" href="/">الكاتب</a></li>
					<li><a id="current">نبذة عن المشروع</a></li> 
					<li><a id="rest" href="/team">فريق العمل</a></li>
				</ul>
			</nav>
			<h1 id="shtr1">وَمَـا مِنْ كَاتِــبٍ إلَّا سَيَفْــنَى</h1>
			<h1 id="shtr2">وَيَبْقَى الدَّهْرُ مَــا كَتَـــبَتْ يَدَاهُ</h1>
		</header>
		<div>
			<p>
				المشروع عبارة عن كاتب آلي باللغة العربية. يقوم البرنامج بكتابة
				نص صحيح ومنظّم اعتماداً على الكتب التي يقرأها.
				
				كيفية استخدام البرنامج ؟
				الطريقة الأولى:
				يقوم المستخدم بكتابة جملة تحتويها شرطتين على السطر ، ثم يقوم
				بالضغط على زر "أكمل" ، بعد ذلك يقوم البرنامج بإعطاءه قائمة
				بالكلمات الممكنة لملئ الفراغ مدعومة بنسبة كل كلمة ( النسبة الأكبر ستكون هي الجواب الصحيح )
				الطريقة الثانية:
				يقوم المستخدم بكتابة كلمة واحدة على الأقل ، ثم يضع عدد الكلمات المطلوب توليدها في الحقل "عدد الكلمات" ، بعد
				ذلك يقوم بالضغط على زر "اكتب" ، ويقوم البرنامج بتوليد الكلمات بناءً على العدد الذي وضعه المستخدم
			</p>
		</div>
		 
	</body>
</html>
