@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);

body{
	margin:0;
	padding:0;
	background-image: url("letterbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% 100%;
}
.header{
	margin:0;
	padding:0;
	background-color: rgba(240,234,201,0.6);
	border: solid 1px rgba(240,234,201,0.6);
	box-shadow: 0px 10px 10px rgba(240,234,201,0.6);
	
}
.header h1{
	padding:5px;
	margin:0;
}
.header #shtr1{
	margin-top:15px;
	color:#a19d87;
	font-family: 'Amiri', serif;
	text-align:center;
	font-size:35px;
	margin-left:30%;
}
#current{
	color:#beac73;
}
nav{
	float:right;

}
a{
	color:#a19d87;
	text-decoration: none;
	font-family: "Times New Roman";
}
#rest:hover{
	color:#d0c7aa;
	text-decoration: none;
}
ul{
	font-size:20px;
	text-align: left;
	margin-right:10px;
	color:#a19d87;
}
li{
	text-align: center;
	color:#a19d87;
	list-style: none;
	margin: 15px 0;
	
}
.header #shtr2{
	margin-top:5px;
	color:#a19d87;
	text-align:center;
	font-family: 'Amiri', serif;
	font-size:35px;
	margin-right:15%;
}
#oktop{
	margin:10%;
	text-align: center;
}
.buttons{
	text-align: center;
	margin:0px;	
}
.buttons #write{
	background-color: #bdb599;
	font-family: "Times New Roman";
	margin-right:5%;
	margin-left:5%;
	font-size:30px;
}