<!DOCTYPE html>

<html>
	<head>
		<title>مولّد النص العربي</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="../static/team.css"  type="text/css">
		<!-- <link rel="stylesheet" href="bootstrap-theme.css"  type="text/css"> -->
	</head>
	<body>
		<header class="header">
			<nav>
				<ul>
					<li><a id="rest" href="/">الكاتب</a></li>
					<li><a id="rest" href="/about">نبذة عن المشروع</a></li> 
					<li><a id="current">فريق العمل</a></li>
				</ul>
			</nav>
			<h1 id="shtr1">وَمَـا مِنْ كَاتِــبٍ إلَّا سَيَفْــنَى</h1>
			<h1 id="shtr2">وَيَبْقَى الدَّهْرُ مَــا كَتَـــبَتْ يَدَاهُ</h1>
		</header>
		<div id="team">
			<p id="project">:قام بعمل هذا المشروع </p>
			<ul id="member">
				<li id="mm">عبدالرحمن إبراهيم بوسبيت -</li>
				<li id="mm">عبدالإله عبدالرحمن الحصيّن -</li>
				<li id="mm">سليمان عبدالعزيز العثمان -</li>
			</ul>
			<p id="doctor">بإشراف من الدكتور : هواري غوثي</p>
		</div>
		 
	</body>
</html>